@tailwind base;
@tailwind components;
@tailwind utilities;

.o-btn {
  @apply bg-yellow-500;
  @apply border-yellow-600;
  @apply pt-2;
  @apply pb-2;
  @apply pl-4;
  @apply pr-4;
  @apply rounded-lg;
  @apply text-lg;
  @apply font-bold;
  @apply uppercase;
}

.o-input:not(.o-inputit__input) {
  @apply text-gray-900;
  @apply pt-1;
  @apply pb-1;
  @apply pl-2;
  @apply pr-2;
  @apply text-lg;
  @apply rounded-lg;
  @apply border-gray-900;
  @apply border-4;
  @apply border-opacity-50;
}

.o-inputit {
  @apply text-gray-900;
  @apply text-lg;
  @apply rounded-lg;
  @apply border-gray-900;
  @apply border-4;
  @apply border-opacity-50;
  @apply bg-white;
}

.o-inputit__container {
  @apply rounded-lg;
  @apply bg-white;
}

.o-load__overlay {
  @apply bg-gray-300;
  @apply bg-opacity-50;
}

.o-load__icon {
  @apply text-gray-900;
  @apply text-4xl;
}

.o-notification--danger {
  @apply bg-red-500;
}

.o-notification {
  @apply p-6;
  @apply -inset-4;
  @apply font-semibold;
  @apply rounded-md;
  @apply text-lg;
}

.o-radio__check {
  @apply hidden;
}

.o-radio {
  @apply bg-yellow-500;
  @apply border-yellow-600;
  @apply pt-2;
  @apply pb-2;
  @apply pl-4;
  @apply pr-4;
  @apply text-lg;
  @apply font-bold;
  @apply uppercase;
  @apply m-0;
}

.o-radio--checked {
  @apply bg-yellow-600;
  @apply border-yellow-700;
}

.o-tabs__nav-item-boxed {
  @apply text-gray-400;
  @apply p-2;
  @apply border-t-2;
  @apply border-l-2;
  @apply border-r-2;
  @apply border-b-0;
}

.o-tabs__nav-item-boxed--active {
  @apply text-yellow-500;
  @apply border-yellow-500;
  @apply rounded-lg;
  @apply rounded-b-none;
  @apply z-10;
  @apply relative;
}

.o-tabs__nav {
  @apply relative;
  @apply overflow-y-hidden;
  @apply z-0;
}

.o-modal__content {
  @apply dark:bg-gray-600;
  @apply w-auto;
  @apply rounded-xl;
}

.modal-card-header,
.modal-card-footer {
  @apply flex;
  @apply flex-row;
  @apply justify-between;
  @apply px-4;
  @apply py-3;
}

.modal-card-title {
  @apply text-3xl;
  @apply font-light;
}

.modal-card-content {
  @apply border-t-2;
  @apply border-b-2;
  @apply border-gray-300;
  @apply p-4;
}

.o-input__icon-left {
  position: absolute;
  top: 0;
  height: 100%;
  width: var(--oruga-input-height, 2.25em);
  z-index: var(--oruga-input-icon-zindex, 4);
}

.o-input-iconspace-left {
  padding-left: var(--oruga-input-height, 2.25em);
}

.o-acp__item {
  @apply px-4;
  @apply py-2;
  @apply text-lg;
  @apply hover:bg-gray-200;
}

.inputit-item {
  @apply bg-yellow-500;
  @apply py-1;
  @apply px-2;
  @apply m-1;
  @apply rounded-xl;
  @apply text-white;
  @apply cursor-pointer;
}

.o-acp__item--hover {
  @apply bg-gray-200;
}

.o-acp__menu--bottom {
  @apply rounded-lg;
  @apply rounded-t-none;
}

.o-switch__check--checked {
  @apply bg-yellow-500;
}

.o-slide__thumb--rounded,
.o-slide__track,
.o-slide__fill {
  @apply rounded-full;
}

.o-slide__fill,
.o-tip__content {
  @apply bg-yellow-500;
}

.o-slide--disabled {
  @apply opacity-50;
}

.o-tip__content {
  @apply rounded-lg;
  @apply p-2;
}
