@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --vp-c-brand: #f59e0b;
  --vp-c-brand-light: #fbbf24;
  --vp-c-brand-lighter: #fcc948;
  --vp-c-brand-dark: #f29419;
  --vp-c-brand-darker: #fd9205;
}
